<div ng-controller="codenames.users.registerCtrl" class="panel-registration">

    <form name="registerForm">
        
        <div class="registration div-form">

            <div class="header">Registration</div>

            <div class="form-row">
                <div class="label">
                    <span class="required">Username:</span>
                </div>
                <div class="field">
                    <input type="text" 
                        name="username"
                        ng-model="viewService.user.username" 
                        ng-class="{ 'field-error': viewService.user.submitted && registerForm.username.$invalid }"
                        h22-focus-me="true"
                        required />
                </div>
            </div>

            <div class="form-row">
                <div class="label">
                    Email Address:
                </div>
                <div class="field">
                    <input type="email" 
                        name="email"
                        ng-model="viewService.user.email" 
                        ng-class="{ 'field-error': viewService.user.submitted && registerForm.email.$invalid }" />
                </div>
            </div>
        
            <div class="form-row">
                <div class="label">
                    <span class="required">First Name:</span>
                </div>
                <div class="field">
                    <input type="text" 
                        name="first"
                        ng-model="viewService.user.first" 
                        ng-class="{ 'field-error': viewService.user.submitted && registerForm.first.$invalid }" 
                        required />
                </div>
            </div>

            <div class="form-row">
                <div class="label">
                    <span class="required">Last Name:</span>
                </div>
                <div class="field">
                    <input type="text" 
                        name="last"
                        ng-model="viewService.user.last" 
                        ng-class="{ 'field-error': viewService.user.submitted && registerForm.last.$invalid }" 
                        required />
                </div>
            </div>

            <div class="form-row">
                <div class="label">
                    <span class="required">Password:</span>
                </div>
                <div class="field">
                    <input 
                        type="password" 
                        name="password"
                        ng-model="viewService.user.password" 
                        ng-class="{ 'field-error': viewService.user.submitted && registerForm.password.$invalid }"
                        pattern=".{8,}"
                        required 
                        title="8 characters minimum" />
                </div>
            </div>

            <div class="form-row">
                <div class="label">
                    <span class="required">Confirm Password:</span>
                </div>
                <div class="field">
                        <input 
                            type="password" 
                            name="confirmPassword"
                            ng-model="viewService.user.confirmPassword" 
                            ng-class="{ 'field-error': viewService.user.submitted && registerForm.confirmPassword.$invalid }"
                            pattern=".{8,}"
                            required />
                </div>
            </div>

            <div class="message mismatched-passwords"  
                ng-show="viewService.user.password != viewService.user.confirmPassword">
                Passwords do not match
            </div><!-- message -->

            <div class="buttons">
                <button type="button" ng-click="cancel()">Cancel</button>
                <button type="button" ng-click="register()">Register</button>
            </div>

            <div class="message">
                <span class="required"></span> indicates required fields.
            </div>

        </div><!-- div-form -->


    </form>

</div>
