.panel-registration
{

	.div-form.registration
	{
		.form-row
		{
		
			.label
			{
				width: 180px;
			}

			.field
			{
				input
				{
					width: 150px;
				}

			}

		}

		.mismatched-passwords
		{
			color: red;
			font-weight: bold;
		}

	}

}


