<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Codenames</title>
        <link rel="stylesheet"" href="/css/style.css" type="text/css" />
	</head>
	<body ng-app="codenames.app" ng-controller="TestCtrl">
	
        <h2>Can you crack the code?</h2>

        <div>
            Hello <span class="name">{{ name }}</span>, age <span class="age">{{ age | number:0 }}</span>, eyes: {{ eyes }}
        </div>


        <form>
        
            <div>email: <input type="text" ng-model="email" /></div>
            <div>password: <input type="password" ng-model="password" /></div>
            <div><button type="button" ng-click="login()">Log In</button></div>

            <div class="result">Result: {{ result }}</div>
            <div class="error">Error: {{ error }}</div>

        </form>


	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>

        <script src="/js/app.js"></script>

	</body>
</html>