@import 'css/imports';

.panel-rules
{
	.instructions
	{
		/* background-color: $manila-color; */
	}

	.title
	{
		text-transform: uppercase;
	}

	.word
	{
		text-transform: uppercase;
		font-weight: bold;
	}

	.clue
	{
		text-transform: uppercase;
		font-style: italic;
		font-weight: bold;
	}

	.apology
	{
		font-style: italic;
	}

	.label
	{
		font-weight: bold;
	}

}
