<div ng-controller="codenames.lobbyCtrl" class="lobby">

    <div>
        <button type="button" ng-click="createGame()">Create game</button>
    </div>

    <div class="loader" ng-show="viewService.pullingGames">Pulling games...</div>

    <div ng-show="viewService.games">

        <div class="setup-games" ng-show="getSetupGames().length > 0">

            <table class="datagrid zebra games" cellpadding="5" cellspacing="0" border="1">
                <div class="header">Games Setting Up</div>

                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th class="num-players"># Players</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in getSetupGames()">
                        <td><a ui-sref="main.game({ gameID: game._id })">{{ game._id }}</a></td>
                        <td class="num-players">{{ game.players.length | number:0 }}</td>
                        <td>{{ game.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                </tbody>
            </table>

        </div><!-- invitations -->

        <div class="active-games" ng-show="getActiveGames().length > 0">
            <div class="header">Active games</div>

            <table class="datagrid zebra games" cellpadding="5" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th class="num-players"># Players</th>
                        <th>State</th>
                        <th>Turn</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in getActiveGames()">
                        <td><a ui-sref="main.game({ gameID: game._id })">{{ game._id }}</a></td>
                        <td class="num-players">{{ game.players.length | number:0 }}</td>
                        <td>{{ game.state }}</td>
                        <td class="turn" ng-class="game.turn.team"><span ng-show="game.turn.team">{{ game.turn.team }}</span></td>
                        <td>{{ game.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                </tbody>
            </table>

        </div><!-- active-games -->

        <div class="complete-games" ng-show="getCompleteGames().length > 0">
            <div class="header">Finished games</div>

            <table class="datagrid zebra games" cellpadding="5" cellspacing="0" border="1">
                <thead>
                    <tr>
                        <th>Game ID</th>
                        <th class="num-players"># Players</th>
                        <th>Winner</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="game in getCompleteGames()">
                        <td><a ui-sref="main.game({ gameID: game._id })">{{ game._id }}</a></td>
                        <td class="num-players">{{ game.players.length | number:0 }}</td>
                        <td class="winner" ng-class="game.winner">{{ game.winner }}</td>
                        <td>{{ game.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                </tbody>
            </table>

        </div><!-- active-games -->

    </div><!-- ng-show="viewService.games" -->

</div>
