<div ng-controller="codenames.lobbyCtrl">

    <h3>Welcome to the Lobby, {{ viewService.session.first }}</h3>

    <div>
        <button type="button" ng-click="createGame()">Create game</button>
    </div>

    <div ng-show="viewService.game">
        
        <div class="game-id">Game ID: {{ viewService.game._id }}</div>
        
        <div>Red: {{ countRemaining('red') | number:0 }}</div>
        <div>Blue: {{ countRemaining('blue') | number:0 }}</div>
        
        <table class="board">
            
            <tr ng-repeat="row in viewService.game.board.rows">
                <td ng-repeat="cell in row track by $index"
                    ng-click="selectCell(cell)"
                    ng-class="{ 'red': cell.selected && cell.role == 'red',
                                'blue': cell.selected && cell.role == 'blue',
                                'bystander': cell.selected && !cell.role,
                                'assassin': cell.selected && cell.role == 'assassin' }"
                >{{ cell.word }}</td>
            </tr>

        </table><!-- board table -->

    </div><!-- ng-show="viewService.game" -->


</div>
