<div ng-controller="codenames.lobbyCtrl">

    <h3>Welcome to the Lobby, {{ viewService.session.first }}</h3>

    <div>
        <a ui-sref="main.game({ gameID: 3 })">Game 3</a>
    </div>


    <div>
        <button type="button" ng-click="createGame()">Create game</button>
    </div>

    <div ng-show="viewService.game">
        
        <div>Game ID: {{ viewService.game._id }}</div>
        <div>Dupes: {{ viewService.game.dupes }}</div>
        
        <table class="board">
            
            <tr ng-repeat="row in viewService.game.board.rows">
                <td ng-repeat="cell in row track by $index">{{ cell }}</td>
            </tr>

        </table><!-- board table -->

    </div><!-- ng-show="viewService.game" -->


</div>
