.panel-lobby
{

	.games-list
	{
		border: 1px solid #000;
		background-color: #faf2ad;
		padding: 8px;

		.header
		{
			font-weight: bold;
			border-bottom: 1px solid #f99;
			padding-top: 30px;
		}

		.no-games
		{
			padding-top: 30px;
		}

		.id
		{
			display: inline-block;
			width: 20em;
			text-align: left;
		}

		.num-players
		{
			display: inline-block;
			width: 10em;
			text-align: center;
		}

		.state,
		.turn,
		.winner
		{
			display: inline-block;
			width: 6em;
			text-align: left;
		}

		.created
		{
			display: inline-block;
			width: 20em;
			text-align: right;
		}


		.content
		{
			margin-top: 10px;

			.game
			{
				border-bottom: 1px solid #ccf;
				line-height: 24px;

				.turn,
				.winner
				{
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.1em;

					&.red
					{
						color: $red-color;
					}

					&.blue
					{
						color: $blue-color;
					}
				}


			}
		}


	}


	div.remaining
	{
		border: 1px solid #000000;
		margin-top: 15px;
		padding: 5px;
		background: #ffffff;
		display: inline-block;
		width: 100px;

		table
		{
			width: 100%;

			.count
			{
				text-align: right;
			}

		}



	}


}