@import 'css/imports';

div.folders
{
	margin-right: 15px;

	div.folder-tabs
	{
		margin: 15px 4px 0 4px;
		border-bottom: 1px solid #999999;
		padding-left: 4px;

		&:before, 
		&:after 
		{
			display: table;
			content: ""; 
		}

		&:after {
			clear: both; 
		}

		.tab
		{
			background-color: $manila-color;
			border: 1px solid #ccc;
			border-bottom-width: 0;
			-webkit-border-radius: 3px 3px 0 0;
			-moz-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
			color: #666;
			float: left;
			margin-right: 7px;
			padding: 8px;
			position: relative;

			&.active
			{
				border-color: #999;
				color: #333;
				font-weight: bold;
				padding-bottom: 9px;
				margin-top: -1px;
				top: 1px;
			}
	
			&:not(.active) a
			{
				cursor: pointer;
			}

			a
			{
				border: 1px solid #aaa;
				background-color: #fff;
				text-decoration: none;
				padding: 1px 3px;
			}


		}

	}

	div.folder
	{
		background-color: $manila-color;
		border-left: 1px solid #666;
		border-right: 1px solid #666;
		border-bottom: 1px solid #666;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;

		padding: 15px 10px;
	}

}  /* folders */
