$border-color: #0033cc;
$background-color: #99ccff;
$manila-color: #fcd986;
$font-family: Courier;

$red-background-color: #ff6666;
$red-foreground-color: #fff;
$red-color: red;

$blue-background-color: #6666ff;
$blue-foreground-color: #fff;
$blue-color: blue;

$page-width: 1200px;

$link-color: #33c;