$primaryColor: #eeffcc;
$borderColor: #0033cc;
$backgroundColor: #99ccff;
$font-family: Verdana;

body
{
	font-family: $font-family;
}

.input 
{
  border-radius: 3px;
  border: 4px solid #ddd;
  color: #555;
  font-size: 17px;
  padding: 10px 20px;
  display: inline-block;
  outline: 0;
}

.field-error 
{
  border:4px solid #e74c3c;
}


.error
{
	color: #f00;
	font-weight: bold;
}

.result
{
	font-weight: bold;
}

.breaker
{
	clear: both;
}

.text-link
{
	display: inline-block;
}

.text-link:hover
{
	text-decoration: underline;
	cursor: pointer;
}

table
{
	background-color: $backgroundColor;
}

table tfoot td.buttons
{
	text-align: center;
}
