<div ng-controller="codenames.users.loginCtrl">

    <form name="loginForm">
        
        <table class="login" border="1" cellpadding="5" cellspacing="0">
        
            <tbody>
            
                <tr>
                    <td>Email:</td>
                    <td><input type="text" 
                            name="username"
                            ng-model="email" 
                            ng-class="{ 'field-error': loginSubmitted && loginForm.username.$invalid }"
                            h22-focus-me="true"
                            h22-enter-action="login()"
                            required />
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" 
                            name="password"
                            ng-model="password" 
                            ng-class="{ 'field-error': loginSubmitted && loginForm.password.$invalid }"
                            h22-enter-action="login()"
                            required />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="buttons">
                        <button type="button" ng-click="login()">Log In</button>
                    </td>
                </tr>
            </tfoot>

        </table>

    </form>

    <div class="invitation">Click <a ui-sref="main.register">here</a> to register with the site.</div>

</div>
