<div ng-controller="codenames.users.loginCtrl" class="panel-login">

    <form name="loginForm">
        
        <div class="login div-form">

            <div class="form-row">
                <div class="label">
                    Username:
                </div><!-- label -->
                <div class="field">
                    <input type="text" 
                        name="username"
                        ng-model="email" 
                        ng-class="{ 'field-error': loginSubmitted && loginForm.username.$invalid }"
                        h22-focus-me="true"
                        h22-enter-action="login()"
                        required />
                </div><!-- field -->
            </div><!-- form-row -->
            <div class="form-row">
                <div class="label">
                    Password:
                </div><!-- label -->
                <div class="field">
                    <input type="password" 
                            name="password"
                            ng-model="password" 
                            ng-class="{ 'field-error': loginSubmitted && loginForm.password.$invalid }"
                            h22-enter-action="login()"
                            required />
                </div><!-- field -->
            </div><!-- form-row -->
            <div class="buttons">
				<h22-ajax-message ng-show="viewService.loggingIn" message="Logging in"></h22-ajax-message>
				<div ng-hide="viewService.loggingIn">			
	                <button type="button" ng-click="login()">Log In</button>
				</div>
            </div><!-- footer -->
        
        </div>

    </form>

    <div class="invitation">Don't have a username?  Click <a ui-sref="main.register">here</a> to register.</div>
    <div class="invitation">Don't want to bother registering?  Click <span class="text-link" ng-click="loginAsGuest()">here</span> to log in as a guest. You will be able to create your own games and play them, but once logged out you will not have access to them.</div>

    <div class="introduction">
        <p>This project is a basic online implementation of the board game <strong>Codenames</strong> by Czech Games Edition, purely for fun and in no way endorsed by 
        Vlaada Chv&aacute;til or Czech Games. This is simply one of my pet projects to work on when I want to try out something new.</p>
        <p>I own their game (two copies! one to keep and one to give away) and heartily recommend it - it's simple and fun.  You can learn more about it at <a href="http://czechgames.com/en/codenames/" target="_blank">their website</a>.</p>
    </div>

</div>
