.panel-login
{
    .instructions
    {
        .intro
        {
            font-style: italic;
        }
    }

	.div-form
    {
        margin-top: 15px;

        .login
	    {
            width: 300px;

            .header
            {
                text-align: left;
            }

		    .form-row
		    {
		
			    .label
			    {
				    width: 100px;
			    }

			    .field
			    {
				    input
				    {
					    width: 150px;
				    }

			    }

		    }

		    .buttons
		    {
			    text-align: left;
		    }

	    }

	}  /* .div-form */

    hr
    {
        margin-top: 20px;
        border-width: 0.5px;
        color: #ccc;
    }


	.invitation
	{
		margin-top: 15px;
		max-width: 800px;
	}


    .disclaimer
    {
	    padding: 10px 15px;
	    font-style: italic;
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;

		border-top: 1px solid $borderColor;
		background-color: $backgroundColor;

        section + section
        {
            margin-top: 10px;
        }

    }



}

