.panel-login
{
	.div-form.login
	{
		.form-row
		{
		
			.label
			{
				width: 100px;
			}

			.field
			{
				input
				{
					width: 150px;
				}

			}

		}

		.buttons
		{
			text-align: center;
		}

	}


	.invitation
	{
		margin-top: 15px;
		max-width: 800px;
	}

	.introduction
	{
		padding: 15px;
		font-style: italic;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}


}

