.panel-game-play
{

	div.game
	{
		margin: 5px;
		border: solid 3px #000;
		padding: 10px;
		background-color: pink;
	}

	div.remaining
	{
		border: 1px solid #000000;
		margin-top: 15px;
		padding: 5px;
		background: #ffffff;
		display: inline-block;
		width: 100px;

		table
		{
			width: 100%;

			.count
			{
				text-align: right;
			}

		}

	}

	table.board
	{
		margin-top: 15px;
	}

}