<div ng-controller="codenames.game.PlayCtrl" class="game-play">

    <div class="turn">Turn: 
        <span class="turn-value" ng-class="getTurnClass()">{{ viewService.game.turn.action }}</span>
    </div>

    <div class="teams">
        <table class="role-table" cellpadding="5" cellspacing="0" border="1">
        
            <thead>
                <tr>
                    <th class="role"></th>
                    <th class="red">RED</th>
                    <th class="blue">BLUE</th>
                </tr>
            </thead>
            <tbody>
                <tr class="spymaster">
                    <td class="role">Spymaster</td>
                    <td class="spymaster red">
                        <div class="spymaster" ng-show="viewService.game.findSpymaster(Team.RED)">{{ viewService.game.findSpymaster(Team.RED).username }}</div>
                        <div class="spymaster" ng-hide="viewService.game.findSpymaster(Team.RED)">CPU</div>
                    </td>
                    <td class="spymaster blue">
                        <div class="spymaster" ng-show="viewService.game.findSpymaster(Team.BLUE)">{{ viewService.game.findSpymaster(Team.BLUE).username }}</div>
                        <div class="spymaster" ng-hide="viewService.game.findSpymaster(Team.BLUE)">CPU</div>
                    </td>
                </tr>
                <tr class="team">
                    <td class="role">Spies</td>
                    <td class="spy red">
                        <div ng-show="viewService.game.findSpies(Team.RED).length == 0">
                            <div class="spy">CPU</div>
                        </div>
                        <div ng-show="viewService.game.findSpies(Team.RED).length > 0">
                            <div class="spy" ng-repeat="spy in viewService.game.findSpies(Team.RED)">{{ spy.username }}</div>
                        </div>
                    </td>
                    <td class="spy blue">
                        <div ng-show="viewService.game.findSpies(Team.BLUE).length > 0">
                            <div class="spy" ng-repeat="spy in viewService.game.findSpies(Team.BLUE)">{{ spy.username }}</div>
                        </div>
                        <div ng-show="viewService.game.findSpies(Team.BLUE).length == 0">
                            <div class="spy">CPU</div>
                        </div>
                    </td>
                </tr>
                <tr class="remaining">
                    <td>Remaining</td>
                    <td class="count">{{ countRemaining(Team.RED) | number:0 }}</td>
                    <td class="count">{{ countRemaining(Team.BLUE) | number:0 }}</td>
                </tr>
            </tbody>
        </table><!-- role-table -->
    </div><!-- teams -->


    <div>{{ getRows(viewService.game.board) }}</div>
        
    <table class="board">
            
        <tr ng-repeat="row in viewService.game.board.rows">
            <td ng-repeat="cell in row track by $index"
                ng-class="cell.revealed ? cell.role : ''"
            ><span ng-hide="cell.revealed" 
                    ng-click="selectCell(cell)"
                    ng-class="{ 'secret': !cell.revealed && viewService.game.isMyTurn(viewService.session.userID, Turn.ACTIONS.GUESS) }">{{ cell.word }}</span></td>
        </tr>

    </table><!-- board table -->
        
</div>
