<div ng-controller="codenames.game.PlayCtrl" class="game-play">

    <div class="div-status">

        <div class="game-state">

            <div ng-show="viewService.game.isActive()" class="turn">Turn: 
                <span class="turn-value" ng-class="getTurnClass(viewService.game.turn.team)">
                    {{ getTurnDescription() }}
                </span>
            </div><!-- if playing, show turn -->

            <div ng-show="viewService.game.isComplete()" class="winner">
                <span class="winner-value" ng-class="getTurnClass(viewService.game.winner)">{{ viewService.game.winner }} WINS!</span>
            </div><!-- if complete, show winner -->

            <div class="teams">
                <table class="role-table" cellpadding="5" cellspacing="0" border="1">
        
                    <thead>
                        <tr>
                            <th class="role"></th>
                            <th class="red">RED</th>
                            <th class="blue">BLUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spymaster">
                            <td class="role">Spymaster</td>
                            <td class="spymaster red">
                                <div class="spymaster" ng-show="viewService.game.findSpymaster(Team.RED)">{{ viewService.game.findSpymaster(Team.RED).first }}</div>
                                <div class="spymaster" ng-hide="viewService.game.findSpymaster(Team.RED)">CPU</div>
                            </td>
                            <td class="spymaster blue">
                                <div class="spymaster" ng-show="viewService.game.findSpymaster(Team.BLUE)">{{ viewService.game.findSpymaster(Team.BLUE).first }}</div>
                                <div class="spymaster" ng-hide="viewService.game.findSpymaster(Team.BLUE)">CPU</div>
                            </td>
                        </tr>
                        <tr class="team">
                            <td class="role">Spies</td>
                            <td class="spy red">
                                <div ng-show="viewService.game.findSpies(Team.RED).length == 0">
                                    <div class="spy">CPU</div>
                                </div>
                                <div ng-show="viewService.game.findSpies(Team.RED).length > 0">
                                    <div class="spy" ng-repeat="spy in viewService.game.findSpies(Team.RED)">{{ spy.first }}</div>
                                </div>
                            </td>
                            <td class="spy blue">
                                <div ng-show="viewService.game.findSpies(Team.BLUE).length > 0">
                                    <div class="spy" ng-repeat="spy in viewService.game.findSpies(Team.BLUE)">{{ spy.first }}</div>
                                </div>
                                <div ng-show="viewService.game.findSpies(Team.BLUE).length == 0">
                                    <div class="spy">CPU</div>
                                </div>
                            </td>
                        </tr>
                        <tr class="remaining">
                            <td>Remaining</td>
                            <td class="count red">{{ viewService.game.board.remaining[Team.RED] | number:0 }}</td>
                            <td class="count blue">{{ viewService.game.board.remaining[Team.BLUE] | number:0 }}</td>
                        </tr>
                    </tbody>
                </table><!-- role-table -->
            </div><!-- teams -->

            <div class="clues" ng-show="viewService.game.isActive() && isSpymaster()">

                <form name="clueForm" novalidate>

                    <input type="text" 
                            name="clue"
                            placeholder="clue"
                            ng-model="viewService.clue.word" 
                            class="clue" 
                            ng-class="{ 'field-error': viewService.clue.submitted && clueForm.clue.$invalid }"
                            h22-enter-action="giveClue()"
                            required />

                    <input type="text"
                            name="numMatches"
                            placeholder="# words"
                            ng-model="viewService.clue.numMatches"
                            class="numMatches"
                            ng-class="{ 'field-error': viewService.clue.submitted && clueForm.numMatches.$invalid }"
                            pattern="[1-9]"
                            h22-enter-action="giveClue()"
                            required />

                    <button type="button" 
                            ng-disabled="!viewService.game.isMyTurn(viewService.session.userID, Action.CLUE)" 
                            ng-click="giveClue()">Give Clue</button>

                </form><!-- clueForm -->

            </div><!-- ng-show="isSpymaster()" -->

            <div class="pass" ng-show="viewService.game.isActive() && isSpy()">

                <button type="button" 
                        ng-disabled="!viewService.game.isMyTurn(viewService.session.userID, Action.GUESS)" 
                        ng-click="passTurn()">Pass Turn</button>

            </div><!-- ng-show="isSpy()" -->

            <div class="div-show-words">

                <div><label><input type="checkbox" ng-model="viewService.options.showWords" value="true" />Show words</label></div>
                <div ng-show="viewService.game.isComplete()"><label><input type="checkbox" ng-model="viewService.options.showRemaining" value="true" />Show remaining</label></div>

            </div>

        </div><!-- game-state -->
        <div class="game-moves">
    
            <div class="moves" ng-show="viewService.game.moves">

                <div ng-show="viewService.game.isStuckThinking()" class="thinking">The computer is stuck thinking...</div>
                <div ng-show="viewService.game.isThinking() && viewService.game.isTimeToClue()" class="thinking">The computer is thinking of a clue...</div>
                <div ng-show="viewService.game.isThinking() && viewService.game.isTimeToGuess()" class="thinking">The computer is choosing a tile...</div>

                <ul>

                    <li class="move" ng-show="viewService.game.winner">
                        <div class="result-description" ng-class="getTurnClass(viewService.game.winner)">{{ viewService.game.winner.toUpperCase() }} team wins!</div>
                    </li>

                    <li class="move" ng-repeat="move in viewService.game.moves | orderBy:'-' ">

                        <div ng-show="move.action == Action.CLUE" ng-class="getTurnClass(move.team)">
                    
                            <span class="username" ng-show="move.playerID">{{ viewService.game.findPlayer(move.playerID).username }}</span>
                            <span class="username" ng-hide="move.playerID">CPU</span>
                            gave clue <span class="clue">{{ move.word }}</span> with {{ move.numMatches | number:0 }} match<span ng-show="move.numMatches > 1">es</span>

                        </div>

                        <div ng-show="move.action == Action.GUESS" ng-class="getTurnClass(move.team)">
                    
                            <div class="guess-action">
                                <span class="username" ng-show="move.playerID">{{ viewService.game.findPlayer(move.playerID).username }}</span>
                                <span class="username" ng-hide="move.playerID">CPU</span>
                                guessed <span class="guess">{{ move.word }}
                            </div><!-- guess-action -->
                            <div class="guess-result">
                                Result: 
                                <span class="result-description">{{ move.result }}</span>
                            </div><!-- guess-result -->

                        </div>

                        <div ng-show="move.action == Action.PASS" ng-class="getTurnClass(move.team)">
                    
                            <span class="username" ng-show="move.playerID">{{ viewService.game.findPlayer(move.playerID).username }}</span>
                            <span class="username" ng-hide="move.playerID">CPU</span>
                            passed 

                        </div>


                    </li><!-- move in moves -->

                </ul>

            </div><!-- moves -->

        </div><!-- game-moves -->

    </div><!-- div-status -->

    <div class="div-board">
       
        <div>
            Scale: <select ng-model="viewService.options.zoom">
                        <option value="0.25">25%</option>
                        <option value="0.5">50%</option>
                        <option value="0.6">60%</option>
                        <option value="0.7">70%</option>
                        <option value="0.8">80%</option>
                        <option value="0.9">90%</option>
                        <option value="1">100%</option>
                        <option value="1.5">150%</option>
                        <option value="2">200%</option>
                    </select>
        </div>

        <div class="board" ng-style="{ zoom: viewService.options.zoom }">

            <div 
                ng-repeat="cell in viewService.game.board.cells"
                class="card" 
                ng-class="[ { 'revealed': cell.revealed || (cell.revealedAfter && viewService.options.showRemaining) }, cell.role ]">

                <div ng-hide="!viewService.options.showWords && (cell.revealed || cell.revealedAfter)" 
                    ng-click="selectCell(cell)"
                    class="word"
                    ng-class="{ 
                                    'secret': !cell.revealed && viewService.game.isMyTurn(viewService.session.userID, Action.GUESS),
                                    'show-word': (cell.revealed || cell.revealedAfter) && viewService.options.showWords
                                }">{{ cell.word }}</div>
            
            </div><!-- card -->

            
        </div><!-- board table -->

    </div><!-- div-board -->

        
</div>
