div.game-play
{

	margin-top: 10px;

	.turn-value
	{
		text-transform: uppercase;
		font-weight: bold;
	}


	.clues
	{

		margin-top: 15px;
		border: 1px solid #000;
		padding: 5px;
		display: inline-block;

		.clue,
		.numMatches
		{
			text-transform: uppercase;
		}

		.clue
		{
			width: 12em;
		}

		.numMatches
		{
			width: 6em;
		}

	}

}


